.my-space-section {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin-top: 60px;
  margin-bottom: 60px;
}
.my-space-section__welcome {
  font-size: 14px;
  font-weight: 500;
  color: #ffb41f;
  margin-bottom: 12px;
  text-align: center;
}
.my-space-section__headline {
  font-size: 32px;
  font-weight: 600;
  margin-top: 0px;
  text-align: center;
}
.my-space-section__cards {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}
