.cs-chip {
  display: inline-block;
  flex-direction: row;
  gap: 11.92px;
  flex-shrink: 0;
  border-radius: 48px;
  border: 1px solid #121e31;
  background: #0b0f14;
  overflow: hidden;
  padding: 8px;
}
.cs-chip__label {
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-right: 8px;
  padding-left: 4px;
}
.cs-chip__counter {
  display: inline;
  padding: 4px 8px;
  overflow: hidden;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.09);
}
