.read-blog-button {
  display: inline-flex;
  padding: 8px 12px;
  align-items: center;
  gap: 12px;
  border-radius: 2.044px;
  background: #0049b8;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 12.261px; /* 87.579% */
  letter-spacing: 0.511px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.read-blog-button:hover {
  background: #003999;
  transform: scale(1.05);
}

.read-blog-button:active {
  transform: scale(0.95);
}

.hovered-img {
  transform: rotate(10deg);
  transition: transform 0.2s ease-in-out;
}
