/* Import the custom font */
@font-face {
  font-family: 'Magellot Demo';
  src: url('../../fonts/MagellotDemo.woff2') format('woff2'),
    url('../../fonts/MagellotDemo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Apply the font family to the relevant classes */
.designer-intro {
  display: flex;
  flex-direction: column;
  padding: 200px 40px;
  font-family: 'Magellot Demo', sans-serif;
}

.designer-intro__greeting {
  font-family: 'Magellot Demo', sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.designer-intro__logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.designer-intro__description {
  font-family: 'Magellot Demo', sans-serif;
  font-size: 68px;
  font-weight: 400;
  max-width: 830px;
}
