@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body{
  margin: 0px;
  background-color: #00030A;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
}