.case-study-comp {
  padding: 0px 14px 19px 0px;
  border-right: 2px solid #f3f3f3;
}
.case-study-comp-header {
  display: flex;
  flex-direction: column;
}
.case-study-comp-image {
  width: 314.33px;
  height: 157.16px;
  margin-bottom: 12px;
}
.case-study-comp-title {
  margin-bottom: 12px;
  color: #002b31;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}
.case-study-comp-description {
  color: #002b31;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
  letter-spacing: -0.045px;
}
.case-study-comp-date {
  color: hsla(0, 0%, 100%, 0.5);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 160% */
  letter-spacing: 0.88px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.case-study-comp-read-time {
  color: #ffffff;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.88px;
  text-transform: uppercase;
  margin-left: 4px;
}
.case-study-comp-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  padding-right: 14px;
  padding-top: 12px;
  border-top: 2px solid #ebeceb;
  color: #002b31;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 180% */
  letter-spacing: -0.045px;
}
.date {
  color: #1d2a29a6;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.88px;
  text-transform: uppercase;
  margin-top: 12px;
}
.time {
  color: #002b31;
}
